@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #fdfdff;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  margin-top:10vh;
  font-family: 'Product Sans',serif;
  font-size:80px;
}

.grid-container {
  display: grid;
  grid-template-columns: [first] 20vw [line2] 80vw [line2];
  margin-top:3vh;
}

.resultheader{
  margin-top:1vh;
  font-family: 'Product Sans',serif;
  font-size:40px;
}

.resultheader:hover{
  cursor: pointer;
}

.input{
  background-image: url(https://img.icons8.com/search);
  background-position: 7px 9px;
  background-repeat: no-repeat;
  background-size: 3vh;
  margin-top:3vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height:5vh;
  width: 60vw;
  border-radius: 20px;
  text-indent:6vh ;
  border:5px;
  box-shadow: 0 0 3px rgb(117, 117, 117);
}

.showMoreButton{
  height:5vh;
  width:30vw;
  margin-top:3vh;
  margin-bottom:3vh;
  background-color:white;
  border-radius: 20px;
  border:5px;
  box-shadow: 0 0 3px rgb(117, 117, 117);
}

.infobox{
  margin-top: 1vh;
  font-size: 10px;
  color:rgb(158, 158, 158);
}

input:focus {
  outline:none;
}

.resultBox{
  display: grid;
  grid-column-gap: 50px;
}

input:hover {
  -moz-box-shadow: 0 0 5px rgb(109, 109, 109);
  -webkit-box-shadow: 0 0 5px rgb(122, 122, 122);
  box-shadow: 0 0 5px rgb(117, 117, 117);
  padding:2px;
}

.hits{
  display: grid;
  grid-auto-rows: 30vh;
  grid-gap: 0vw;
  padding-left:15vw;
  padding-right:20vw;
}

@media (max-width: 960px) {
  .hits{
    grid-auto-rows: 35vh;
  }
}

.episode_grid {
  margin-top: 3vh;
  display: grid;
  border:5px;
  grid-gap:1vh;
  padding-left:1vw;
  padding-right:1vw;
  padding-top:3vh;
  padding-bottom:3vh;
  border-radius: 20px;
  box-shadow: 0 0 3px rgb(117, 117, 117);
  background-color: transparent;
  text-align: left;
}

.episode_grid:hover {
  cursor: pointer;
}

.grid-item1 {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.grid-item2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color:blue;
}

.grid-item3 {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.total_podcast {
  display: grid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding-left:4vw;
  padding-right:4vw;
  padding-top:4vh;
  padding-bottom:4vh;
  text-align: justify;
  border-radius: 10px;
}

.total_pod_title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  padding-right:15vw;
  padding-left:5vw;
  margin-top:5vh;
  text-align: left;
  min-height: 300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.switch{
  width:5vw;
  margin-left:1vw;
  font-size:12px;
}

.bestPods{
  display: grid;
  grid-template-columns: repeat(12,20vw);
  grid-gap:1vw;
  width:55vw;
  padding:5px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.episodeInfo{
  margin-left:15vw;
  width:70vw;
  text-align: center;
}